link(href='#{contextPath}/stylesheets/blitzer/jquery-ui-1.8.14.custom.css', rel='stylesheet', type='text/css')
link(href='#{contextPath}/stylesheets/style.css', rel='stylesheet', type='text/css')
link(href='#{contextPath}/stylesheets/commons.css', rel='stylesheet', type='text/css')
link(href='#{contextPath}/stylesheets/buttons.css', rel='stylesheet', type='text/css')
link(href='#{contextPath}/stylesheets/social_fb.css', rel='stylesheet', type='text/css')
meta#server-context-path(rel='#{contextPath}')