extends ../layout

block scripts
    // add scripts
//    script(src='#{contextPath}/javascripts/signup_page.js', language='javascript', type='text/javascript')

block stylesheets
    // add style sheets
    link(rel='stylesheet', href='#{contextPath}/stylesheets/order-confirmation.css')

block content
    div.container
        div.section.cf
            div.step-thr.step-thr3
                div.step1.
                    My Shopping Cart
                div.step2.
                    Check  Out  Order
                div.step3.onhover.
                    Submit Successfully
        div.section.cf
            div.s-s
                h3 Your Order submit successfully,We will quickly dispatch
                div.s-py
                    p Order Number:
                        span.in_line(name="order_number") #{order.orderId}
                    p Total Price : $
                        span(name="order_price") #{order.totalPrice}
                    p Used Point :
                        span(name="usedPoint") #{order.usedPoint}
                    p Shipping : $
                        span 0
                div.s-py2
                    span Total Payment : $
                        p.in_line(name="orders_total_price")
                            #{order.payMoney}
                div.s-now
                    h4 Now you can:
                    p
                        a(href="#{contextPath}/") SHOPPING
                        |
                        a(href="#{contextPath}/order/list") LOOK INTO ALL OF YOUR ORDERS

